<div nz-row>
  <nz-card style="width:300px;" nzTitle="Card title" [nzExtra]="extraTemplate">
    <h3>Start Game</h3>
    <button nz-button nzType="primary" (click)="startGame()">Start Game</button>
    <button nz-button nzType="primary" (click)="pauseGame()">Pause Game</button>
  </nz-card>
</div>
<div nz-row>
  <nz-card style="width:300px;" nzTitle="Card title" [nzExtra]="extraTemplate">
    <h3>Even OR Odd</h3>
    <p *ngFor="let number of oddNumbers.concat(evenNumbers)" [style.color]="number % 2 === 0 ? 'orange' : 'red'">{{ number }}</p>

  </nz-card>
</div>